<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <div class="comment_editing right">
      <%= link_to " Go back", :back, class: "fi-arrow-left" %>
    </div>

    <h1>Edit your profile</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="large-4 columns">
          <div class="field">
            <%= f.text_field :first_name, autofocus: true, :placeholder => "Enter your first name..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.text_field :last_name, autocomplete: "off", :placeholder => "Enter your last name..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.email_field :email, :placeholder => "Enter your email..." %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="large-4 columns">
          <div class="field">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your new password..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm your new password..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Enter your current password to confirm changes..." %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="field">
            <%= f.text_area :bio, autocomplete: "off", :placeholder => "Tell us a little bit about yourself..." %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update your profile", class: "button radius small" %>
      </div>
    <% end %>

    <br />
    <hr />
    <h3>Cancel my account</h3>
      <p>Unhappy? Ok, go ahead and cancel your account. Note, once you cancel, everything associated with your account will be deleted, including posts and comments. You can't get them back. Ever. You've been forewarned!</p>
      <%= button_to "Cancel my account", registration_path(resource_name), class: "button radius small", data: { confirm: "Are you 100% positive you want to delete your account?" }, method: :delete %></p>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
