<%= render 'layouts/enav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="large-4 columns">
          <div class="field">
            <%= f.text_field :first_name, autofocus: true, :placeholder => "Enter your first name..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.text_field :last_name, autocomplete: "off", :placeholder => "Enter your last name..." %>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="field">
            <%= f.email_field :email, :placeholder => "Enter your email address..." %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your new password..." %>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm your new password..." %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="field">
            <%= f.text_area :bio, autocomplete: "off", :placeholder => "Tell us a little bit about yourself..." %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Create your account", class: "button radius small" %>
      </div>
    <% end %>

    <div class="comment_editing">
      <%= render "devise/shared/links" %>
    </div>

  </div>

</div>
