<div class="comment">
  <p><%= comment.comment %></p>
  <p class="post-meta"><%= comment.user.first_name %> <%= comment.user.last_name %> replied <%= time_ago_in_words(comment.created_at) %> ago</p>
  <div class="comment_editing">
    <% if current_user == comment.user %>
      <%= link_to " Edit", edit_post_comment_path(comment.post, comment), class: "fi-pencil" %>  |
      <%= link_to " Delete", [comment.post, comment], class: "fi-trash", method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
  <hr />
</div>
