<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>Forum Home</h1>
    <p><em>Find me in app/views/posts/index.html.erb</em></p>

    <% @posts.each do |post| %>
      <h3><%= link_to post.post_title, post %></h3>
      <p class="post-meta">Published by <%= post.user.email %> <%= time_ago_in_words(post.created_at) %> ago</p>
      <p><strong>Categories:</strong> Category 1, Category 2, Category 3</p>
      <hr />
    <% end %>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
