<%= render 'layouts/inav' %>

<h1>Posts#index</h1>
<p><em>Find me in app/views/posts/index.html.erb</em></p>

<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <h3><%= link_to post.post_title, post %></h3>
  <p>Published <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %></p>
  <hr />
<% end %>
