<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1><%= @post.post_title %></h1>
    <p class="post-meta">Published by Lauren P. about 24 minutes ago</p>
    <p><em>Find me in app/views/posts/show.html.erb</em></p>

    <p><%= @post.content %></p>

    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?" }%>
    <%= link_to "Home", root_path %>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
