<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <nav class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </nav>

    <h1><%= @post.post_title %></h1>
    <p class="post-meta">Published <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.first_name %> <%= @post.user.last_name %><br />

    <p><%= simple_format(@post.content) %></p>

    <p class="post-meta"><i class="fi-price-tag"></i> Category 1, Category 2, Category 3
    <br /><i class="fi-marker"></i> City, State, Country</p>

    <% if current_user == @post.user %>
      <%= link_to " Edit", edit_post_path(@post), class: "button radius small fi-pencil" %>
    <% end %>
    <% if current_user == @post.user %>
      <%= link_to " Delete", post_path(@post), class: "button radius small fi-trash", method: :delete, data: { confirm: "Are you sure you want to do this? Be warned, it's permanent!" }%>
    <% end %>
    <hr />
    <div class="comment">
      <h4><%= @post.comments.count %> replies</h4>
      <%= render @post.comments %>
      <h3>Reply to question</h3>
      <%= render 'comments/form' %>

    </div>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
