<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <nav class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </nav>

    <h1><%= @category.category_name %> posts</h1>
    <p>Find me in app/views/categories/show.html.erb</p>

    <% @categories.each do |c| %>
    <li><%= link_to c, post_path(:category_id => c.id) %></li>
    <% end %>


  </div>

  <%= render 'layouts/sideinav' %>

</div>
